.centered-container {
    max-width: 684px;
    margin: 0 auto;
    text-align: center;
}

#title {
    margin-block-start: 12.86px;
    margin-block-end: 26.86px;
    font-size: 4em;
    color: hsl(209, 81%, 46%);
}

.summary {
    color: hsl(0, 2%, 26%)
}

#form__inputs {
    border: 1px solid hsl(0, 8%, 88%);
    display: flex;
    align-items: center;

}

.form__input {
    padding: 0.8em;
    outline: none;
    border: none;
    width: 100%;
}

#form__extra {
    display: flex;
    align-items: center;
}

#form__button-help {
    padding: 0.8em; 
    width: 60%;
    border: 0;
    background-color: hsl(0, 0%, 75%);
    transition: background 0.2s ease-in;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

#form__money-field {
    border: 1px solid hsl(0, 8%, 88%);
    display: flex;
    align-items: center;
}

.form__money-input {
    padding: 0.8em;
    border: 0;
    outline: none;
    width: 100%;
}

#valor-maximo {
    border-left: 2px solid hsl(0, 8%, 88%);
}

#notification {
    display: none;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}

#notification.success {
    background-color: hsl(134, 41%, 88%);
    color: hsl(134, 61%, 21%);
    border: 1px solid hsl(134, 41%, 83%);
}

#notification.error {
    background-color: hsl(355, 70%, 91%);
    color: hsl(354, 61%, 28%);
    border: 1px solid hsl(354, 70%, 87%);
}

@media (max-width: 420px) {
    #form__extra {
        display: flex;
        flex-direction: column;
    }

    #form__button-help {
        width: 100%;
    }
}